@import "compass/reset";
@import "compass/css3/opacity";
@import "compass/css3/appearance";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

/****************************************
* Variables
****************************************/
$wesual-purple: #7118b2;
$wesual-dark-purple: #511180;
$wesual-gray: #edf1f2;
$wesual-purple-hover: #7118b2;

/****************************************
* Icons
****************************************/
@font-face {
	font-family: 'Wesual';
	src:url('/fonts/wesual.eot?-i533wn');
	src:url('/fonts/wesual.eot?#iefix-i533wn') format('embedded-opentype'),
		url('/fonts/wesual.woff?-i533wn') format('woff'),
		url('/fonts/wesual.ttf?-i533wn') format('truetype'),
		url('/fonts/wesual.svg?-i533wn#wesual') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Wesual';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon { display: inline-block; }

.icon-star:before {
	content: "\e600";
}

.icon-flash:before {
	content: "\e601";
}

.icon-flag:before {
	content: "\e602";
}


/****************************************
* Util classes
****************************************/
.left { float: left; }

.right { float: right; }

.block { display: block; }

/****************************************
* Typography
****************************************/

%base-font {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

%header-font {
	font-family: 'Grumpy Black 24', serif;
	line-height: 1.1;
	letter-spacing: -2px;
}

html, body { @extend %base-font; }

h1, h2, h3 { @extend %header-font; }

h2 { font-size: 92px; }

strong { font-weight: 600; }

p {
	line-height: 1.5;
	max-width: 570px;
	margin-bottom: 20px;
}

a {
	@include transition(color 150ms ease);
	text-decoration: none;
}

/****************************************
* Framework
****************************************/
::selection { background: $wesual-purple; }
::-moz-selection { background: $wesual-purple; }

* { box-sizing: border-box; }

input:focus,
select:focus,
textarea:focus,
button:focus { outline: none; }

.base-input, 
.base-button {
	@extend %base-font;
	@include appearance(none);
	border: none;
}

.base-button {
	cursor: pointer;
	background: $wesual-dark-purple;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	padding: 18px;
	color: #fff;
}

.signup-input {
	padding: 17px;
	width: 360px;
	margin-right: 10px;
	font-size: 20px;
}

.row { 
	@include clearfix;
	width: 100%; 
}

.purple { color: $wesual-purple; }

.grey-background {
	background: $wesual-gray;
	color: #000;
}

.purple-background {
	background: $wesual-purple;
	color: #fff;

	a { color: #fff; }
	a:hover { color: #000; }
}

.container { 
	max-width: 980px;
	margin: 0 auto;
}

.header-padding {
	padding: 28px;
}

.hero-padding {
	padding: 135px 28px;
}

.base-section-padding { padding: 110px 0 135px; }

.logo {
	text-indent: -9999px;
	background-image: url('/img/wesual.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 128px;
	height: 28px;
}

/****************************************
* Index 
****************************************/

.menu-header {
	overflow: visible;
}

.menu {
	li {
		display: inline-block;
		margin-left: 15px;

		a { 
			position: relative; 
			color: $wesual-purple;
		}

		a:after {
			@include transition(all 200ms ease);
			@include transform(translate3d(0, 8px, 0));
			@include opacity(0);
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 2px;
			background: $wesual-purple;
			content: '';
		}

		a:hover {
			color: $wesual-purple-hover;

			&:after {
				@include opacity(0.25);
				@include transform(translate3d(0, 2px, 0));
			}
		}
	}
}

.relative {
	position: relative;
}

.hero-container {
	width: 650px;
}

.hero-tv {
	position: absolute;
	left: 690px;
	top: 100px;
	width: 676px;
}

.features {
	text-align: center;
}	

.feature {
	display: inline-block;
	text-align: center;
	width: 32.5%;
	margin-top: 70px;

	strong { margin-bottom: 10px; }

	i {
		font-size: 90px;
		margin-bottom: 65px;
	}

	p { 
		margin: 0 auto;
		max-width: 275px; 
	}
}

.feature-bubble {
	@include border-radius(50%);
	width: 200px;
	height: 200px;
	margin: 0 auto 30px;
}

/****************************************
* Misc.
****************************************/

#mfPreviewBar, #mfPreviewBarShow { display: none !important; }