@import "compass/reset";
@import "compass/css3/opacity";
@import "compass/css3/appearance";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

/****************************************
* Variables
****************************************/
$wesual-purple: #7118b2;
$wesual-dark-purple: #511180;
$wesual-gray: #edf1f2;
$wesual-light-gray: #eff3f6;
$wesual-purple-hover: #7118b2;
$ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$ease-in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

$break-small: 400px;

/****************************************
* Icons
****************************************/
@font-face {
  font-family: 'wesual';
  src:url('/fonts/wesual.eot?pv6lx9');
  src:url('/fonts/wesual.eot?#iefixpv6lx9') format('embedded-opentype'),
    url('/fonts/wesual.woff?pv6lx9') format('woff'),
    url('/fonts/wesual.ttf?pv6lx9') format('truetype'),
    url('/fonts/wesual.svg?pv6lx9#wesual') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'wesual';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social:before {
  content: "\e600";
}
.icon-simple:before {
  content: "\e601";
}
.icon-beautiful:before {
  content: "\e602";
}

.icon-twitter:before {
	content: "\e603";
	color: #2dabdf;
	font-size: 50px;
}

.icon { display: inline-block; }

/****************************************
* Util classes
****************************************/
.left { float: left; }

.right { float: right; }

.block { display: block; }

.clearfix { @include clearfix; }

.margin-bottom-m { margin-bottom: 15px; }

/****************************************
* Typography
****************************************/

%base-font {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 300;

	@media screen and (min-width: $break-small) {
		font-size: 20px;
	}
}

%header-font {
	font-family: 'Grumpy Black 24', serif;
	line-height: 1.1;
	letter-spacing: -2px;
}

html, body { @extend %base-font; }

h1, h2, h3 { @extend %header-font; }

h2 {
	font-size: 45px;

	@media screen and (min-width: $break-small) {
		font-size: 92px;
	}
}

strong { font-weight: 600; }

p {
	line-height: 1.5;
	margin-bottom: 20px;
}

a {
	@include transition(color 150ms ease);
	text-decoration: none;
}

/****************************************
* Framework
****************************************/
::selection { background: rgba(113, 24, 178, 0.1); }
::-moz-selection { background: rgba(113, 24, 178, 0.1); }

* { box-sizing: border-box; }

input:focus,
select:focus,
textarea:focus,
button:focus { outline: none; }

.base-input,
.base-button {
	@extend %base-font;
	@include appearance(none);
	@include transition(all 150ms ease);
	border: none;
	padding: 8px;

	@media screen and (min-width: $break-small) {
		padding: 17px;
	}
}

.base-input {
	border: 2px solid #fff;
	font-size: 14px;

	@media screen and (min-width: $break-small) {
		font-size: 18px;
	}

	&:hover, &:active, &:focus { border: 2px solid #d0d0d0; }
}

.base-button {
	cursor: pointer;
	background: $wesual-purple;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	padding: 8px 10px 8px;
	color: #fff;
	border: 3px solid $wesual-purple;
	width: 195px;

	@media screen and (min-width: $break-small) {
		width: auto;
		font-size: 16px;
		padding: 17px 36px 16px;
	}

	&:hover {
		color: #fff;
		background: lighten($wesual-purple, 10%);
		border-color: lighten($wesual-purple, 10%);
	}
}

.signup-input {
	max-width: 360px;
	margin-bottom: 10px;

	@media screen and (min-width: $break-small) {
    width: 360px;
		margin-bottom: 0;
		margin-right: 10px;
	}
}

.input-error {
	border-color: #fd5b5b !important;

	&:active, &:focus { border: 2px solid #d0d0d0; }
}

.success-msg-container {
	padding-top: 22px;
	padding-bottom: 24px;
}

.success-msg {
	@include border-radius(30px);
	color: $wesual-purple;
	border: 1px solid $wesual-purple;
	padding: 15px 50px;
	font-size: 18px;
}

.row {
	width: 100%;
}

.support-logos {
	width: 100%;
	max-width: 800px;
}

.support-copy {
	margin: 30px 0 30px;
}

.purple { color: $wesual-purple; }

.grey-background {
	background: $wesual-gray;
	color: #000;
}

.light-gray-background {
	background: $wesual-light-gray;
	color: #000;
}

.dark-background {
	background: #000;
	color: #fff;
}

.purple-background {
	background: $wesual-purple;
	color: #fff;

	a { color: #fff; }
	a:hover { color: #000; }
}

.container {
	text-align: center;
	max-width: 980px;
	margin: 0 auto;
}

.header-padding {
	padding: 28px;
}

.hero-padding {
	padding: 30px 28px 230px;

	@media screen and (min-width: $break-small) {
		padding: 30px 28px 460px;
	}
}

.base-section-padding {
	text-align: center;
	padding: 90px 0 80px;

	@media screen and (min-width: $break-small) {
		padding: 90px 0 125px;
	}
}

.logo {
	margin: 0 auto;
	text-indent: -9999px;
	background-image: url('/img/wesual.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 128px;
	height: 28px;
}

/****************************************
* Intro animations
****************************************/

.js {
  // Initial states on page load
  .hero-header-first,
  .hero-header-second,
  .hero-container p,
  .hero-container .sign-up,
  .hero-tv { @include opacity(0); }

  .hero-header-first,
  .hero-header-second { @include transform(translate3d(0, 7.5px, 0)); }

  .hero-tv {
    @include transform(translate3d(-50%, 90px, 0) rotateZ(-3deg));
    @include transform-origin(25%, 50%);
  }

  // Transitions and perspectives for page load
  .hero { @include perspective(1100); }

  .hero-header-first {
    @include transition(all 700ms ease);
    @include transition-delay(300ms);
  }

  .hero-header-second {
    @include transition(all 700ms ease);
    @include transition-delay(600ms);
  }

  .hero-container p,
  .hero-container .sign-up {
    @include transition(opacity 1000ms ease);
    @include transition-delay(1000ms);
  }

  .hero-tv {
    @include transition(all 1100ms $ease-in-out-quart);
    @include transition-delay(1200ms);
    -webkit-backface-visibility: hidden;
  }

  &.wf-opensans-n4-active.wf-grumpyblack24-n4-active.wf-active {
    // Active states on page load
    .hero-header-first,
    .hero-header-second,
    .hero-container p,
    .hero-container .sign-up,
    .hero-tv { @include opacity(1); }

    .hero-header-first,
    .hero-header-second { @include transform(translate3d(0, 0, 0)); }

    .hero-tv { @include transform(translate3d(-50%,  0, 0) rotateZ(0deg)); }
  }

  .features {
    // Features section state on page load
    h2,
    .feature { @include opacity(0); }

    h2,
    .feature { @include transform(translate3d(0, 15px, 0)); }

    // Transitions and perspectives Features section
    h2 {
      @include transition(all 750ms ease);
      @include transition-delay(100ms);
    }

    .feature { @include transition(all 750ms ease); }

    .feature-first { @include transition-delay(200ms); }

    .feature-second { @include transition-delay(400ms); }

    .feature-third { @include transition-delay(600ms); }
  }

  // Features section active states
  &.wf-opensans-n4-active.wf-grumpyblack24-n4-active.wf-active {
    .features.active {
      h2,
      .feature { @include opacity(1); }

      h2,
      .feature { @include transform(translate3d(0, 0, 0)); }
    }
  }

  .telegraphic {
    // Telegraphic section state on page load
    h2, .slider {
      @include opacity(0);
      @include transform(translate3d(0, 15px, 0));
    }

    .slider { @include transform(translate3d(0, 0, 0)); }

    // Transitions and perspectives Telegraphic section
    h2, .slider {
      @include transition(all 750ms ease);
      @include transition-delay(100ms);
    }

    .slider { @include transition-delay(300ms); }
  }

  // Telegraphic section active states
  &.wf-opensans-n4-active.wf-grumpyblack24-n4-active.wf-active {
    .telegraphic.active {
      h2, .slider {
        @include opacity(1);
        @include transform(translate3d(0, 0, 0));
      }
    }
  }

  // Customizable section active states
  &.wf-opensans-n4-active.wf-grumpyblack24-n4-active.wf-active {
    .customizable.active {
      h2,
      .macbook { @include opacity(1); }

      h2,
      .macbook { @include transform(translate3d(0, 0, 0)); }
    }
  }

  .customizable {
    // Customizable section state on page load
    h2, .macbook {
      @include opacity(0);
      @include transform(translate3d(0, 15px, 0));
    }

    // Transitions and perspectives Customizable section
    h2, .macbook {
      @include transition(all 750ms ease);
      @include transition-delay(100ms);
    }

    .macbook { @include transition-delay(300ms); }
  }

  // Customizable section active states
  &.wf-opensans-n4-active.wf-grumpyblack24-n4-active.wf-active {
    .customizable.active {
      h2, .macbook {
        @include opacity(1);
        @include transform(translate3d(0, 0, 0));
      }
    }
  }

  // Customizable section active states
  &.wf-opensans-n4-active.wf-grumpyblack24-n4-active.wf-active {
    footer.active {
      h2,
      p,
      .sign-up { @include opacity(1); }

      h2,
      p
      .sign-up { @include transform(translate3d(0, 0, 0)); }
    }
  }

  footer {
    // Customizable section state on page load
    h2, p, .sign-up {
      @include opacity(0);
      @include transform(translate3d(0, 15px, 0));
    }

    // Transitions and perspectives Customizable section
    h2, p, .sign-up {
      @include transition(all 750ms ease);
      @include transition-delay(100ms);
    }

    .macbook { @include transition-delay(300ms); }
  }

  // Customizable section active states
  &.wf-opensans-n4-active.wf-grumpyblack24-n4-active.wf-active {
    footer.active {
      h2, p, .sign-up {
        @include opacity(1);
        @include transform(translate3d(0, 0, 0));
      }
    }
  }
}

/****************************************
* Index
****************************************/
.menu-header {
  position: relative;
  z-index: 10;
}

.menu {
	li {
		display: inline-block;
    margin: 5px 0 0 15px;

		a {
			position: relative;
			color: $wesual-purple;
		}

		a:after {
			@include transition(all 200ms ease);
			@include transform(translate3d(0, 8px, 0));
			@include opacity(0);
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 2px;
			background: $wesual-purple;
			content: '';
		}

		a:hover {
			color: $wesual-purple-hover;

			&:after {
				@include opacity(0.25);
				@include transform(translate3d(0, 2px, 0));
			}
		}
	}
}

.relative {
	position: relative;
}

.hero-container {
	margin: 0 auto;
	max-width: 650px;
	padding-bottom: 30px;

	p {
		max-width: 570px;
    margin-bottom: 35px;
	}
}

.on-top {
	z-index: 99;
	position: relative;
}

.hero-tv {
	width: 100%;
	max-width: 829px;
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));
}

.macbook {
	position: relative;
	max-width: 828px;
	margin: 30px auto 0;

	@media screen and (min-width: $break-small) {
		margin: 50px auto 0;
	}

	.macbook-viewport {
		position: absolute;
		z-index: 2;
    width: 626px;
    height: 392px;
    top: 58px;
    left: 101px;
		overflow: hidden;

    img {
      width: 75%;
      pointer-events: none;
    }
	}

	img {
		position: relative;
		z-index: 1;
		width: 100%;
	}
}

.features {
	text-align: center;
}

.feature {
	display: inline-block;
	text-align: center;
	width: 32.5%;
	min-width: 300px;
	margin-top: 40px;

	@media screen and (min-width: $break-small) {
		margin-top: 70px;
	}

	strong { margin-bottom: 10px; }

	i {
		font-size: 70px;
		margin-bottom: 15px;

		@media screen and (min-width: $break-small) {
			font-size: 90px;
			margin-bottom: 65px;
		}
	}

	p {
		margin: 0 auto;
		max-width: 275px;
	}
}

.feature-bubble {
	@include border-radius(50%);
	width: 200px;
	height: 200px;
	margin: 0 auto 30px;
}

.telegraphic {
  padding-bottom: 95px;
  background-image: url('../img/telegraphic-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  h2 { margin-bottom: 20px; }

  .container { margin: 0 auto 50px; }
}

footer.base-section-padding {
  padding: 80px 0 300px;

  .sign-up {
    margin: 40px 0 150px;

    .base-input { border: 2px solid #d0d0d0; }
  }

  i {
    position: relative;
    top: 15px;
    margin: 0 -3px 0;
  }

  a {
    color: $wesual-purple;

    &:hover { color: lighten($wesual-purple-hover, 10%); }
  }
}

.slider {
  height: 530px;
  width: 850px;
  margin: 0 auto;
  background-image: url('../img/tv.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-glare {
  display: block;
  position: absolute;
  z-index: 9999;
  width: 310px;
  top: 52px;
  left: 23px;
  cursor: pointer;
}

.slider-viewport {
  position: relative;
  height: 100%;

  li {
    position: absolute;
    width: 737px;
    z-index: 1;
    top: 52px;
    left: 52px;
    overflow: hidden;
    cursor: pointer;

    img {
      @include transition(all 1000ms ease);
      @include opacity(0);
      @include transform-origin(50%, 100%);
      display: block;
      width: 100%;
      pointer-events: none;
    }

    &.active img {
      @include opacity(1);
      position: relative;
      z-index: 2;
      float: left;
    }

    &.remove img {
      z-index: 1;
    }
  }
}

.slider-pagination {
	text-align: center;
  cursor: default;

	li {
		@include border-radius(50%);
    @include transition(all 300ms ease);
    position: relative;
		display: inline-block;
		width: 15px;
		height: 15px;
    margin: 20px 6px 0 0;
		border: 1px solid #fff;
    cursor: pointer;
    overflow: hidden;

    &.active { background: #fff; }
	}
}

/****************************************
* Misc.
****************************************/

#mfPreviewBar, #mfPreviewBarShow { display: none !important; }