/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/****************************************
* Variables
****************************************/
/****************************************
* Util classes
****************************************/
/* line 20, ../../scss/main.scss */
.left {
  float: left;
}

/* line 22, ../../scss/main.scss */
.right {
  float: right;
}

/* line 24, ../../scss/main.scss */
.block {
  display: block;
}

/****************************************
* Typography
****************************************/
/* line 30, ../../scss/main.scss */
html, body, .base-input,
.base-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

/* line 36, ../../scss/main.scss */
h1, h2, h3 {
  font-family: 'Grumpy Black 24', serif;
  line-height: 1.1;
  letter-spacing: -2px;
}

/* line 46, ../../scss/main.scss */
h2 {
  font-size: 92px;
}

/* line 48, ../../scss/main.scss */
strong {
  font-weight: 700;
}

/* line 50, ../../scss/main.scss */
p {
  line-height: 1.5;
  max-width: 570px;
  margin-bottom: 20px;
}

/* line 56, ../../scss/main.scss */
a {
  -webkit-transition: color 150ms ease;
  -moz-transition: color 150ms ease;
  -o-transition: color 150ms ease;
  transition: color 150ms ease;
  text-decoration: none;
}

/****************************************
* Framework
****************************************/
/* line 64, ../../scss/main.scss */
::selection {
  background: #7118b2;
}

/* line 65, ../../scss/main.scss */
::-moz-selection {
  background: #7118b2;
}

/* line 67, ../../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 72, ../../scss/main.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 75, ../../scss/main.scss */
.base-input,
.base-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

/* line 81, ../../scss/main.scss */
.base-button {
  cursor: pointer;
  background: #511180;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 18px;
  color: #fff;
}

/* line 91, ../../scss/main.scss */
.signup-input {
  padding: 17px;
  width: 360px;
  margin-right: 10px;
  font-size: 20px;
}

/* line 98, ../../scss/main.scss */
.row {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}

/* line 103, ../../scss/main.scss */
.purple {
  color: #7118b2;
}

/* line 105, ../../scss/main.scss */
.grey-background {
  background: #edf1f2;
  color: #000;
}

/* line 110, ../../scss/main.scss */
.purple-background {
  background: #7118b2;
  color: #fff;
}
/* line 114, ../../scss/main.scss */
.purple-background a {
  color: #fff;
}
/* line 115, ../../scss/main.scss */
.purple-background a:hover {
  color: #000;
}

/* line 118, ../../scss/main.scss */
.container {
  max-width: 980px;
  margin: 0 auto;
}

/* line 123, ../../scss/main.scss */
.header-padding {
  padding: 28px;
}

/* line 127, ../../scss/main.scss */
.hero-padding {
  padding: 135px 28px;
}

/* line 131, ../../scss/main.scss */
.base-section-padding {
  padding: 80px;
}

/* line 133, ../../scss/main.scss */
.logo {
  text-indent: -9999px;
  background-image: url("/img/wesual.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 128px;
  height: 28px;
}

/****************************************
* Index 
****************************************/
/* line 147, ../../scss/main.scss */
.menu li {
  display: inline-block;
  margin-left: 15px;
}
/* line 151, ../../scss/main.scss */
.menu li a {
  position: relative;
}
/* line 153, ../../scss/main.scss */
.menu li a:after {
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  -webkit-transform: translate3d(0, 7px, 0);
  -moz-transform: translate3d(0, 7px, 0);
  -ms-transform: translate3d(0, 7px, 0);
  -o-transform: translate3d(0, 7px, 0);
  transform: translate3d(0, 7px, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #7118b2;
  content: '';
}
/* line 166, ../../scss/main.scss */
.menu li a:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
  -webkit-transform: translate3d(0, 2px, 0);
  -moz-transform: translate3d(0, 2px, 0);
  -ms-transform: translate3d(0, 2px, 0);
  -o-transform: translate3d(0, 2px, 0);
  transform: translate3d(0, 2px, 0);
}

/* line 175, ../../scss/main.scss */
.relative {
  position: relative;
}

/* line 179, ../../scss/main.scss */
.hero-container {
  width: 650px;
}

/* line 183, ../../scss/main.scss */
.hero-tv {
  position: absolute;
  left: 690px;
  top: 100px;
  width: 676px;
}

/* line 190, ../../scss/main.scss */
.features {
  text-align: center;
}

/* line 194, ../../scss/main.scss */
.feature {
  display: inline-block;
  text-align: center;
  width: 33%;
  margin-top: 40px;
}
/* line 200, ../../scss/main.scss */
.feature strong {
  margin-bottom: 10px;
}

/* line 203, ../../scss/main.scss */
.feature-bubble {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto 30px;
}

/****************************************
* Misc.
****************************************/
/* line 214, ../../scss/main.scss */
#mfPreviewBar, #mfPreviewBarShow {
  display: none !important;
}
