/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/****************************************
* Variables
****************************************/
/****************************************
* Util classes
****************************************/
/* line 18, ../../scss/main.scss */
.left {
  float: left;
}

/* line 20, ../../scss/main.scss */
.right {
  float: right;
}

/****************************************
* Framework
****************************************/
/* line 25, ../../scss/main.scss */
html, body, .base-input,
.base-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/* line 31, ../../scss/main.scss */
::selection {
  background: rgba(151, 0, 151, 0.5);
}

/* line 32, ../../scss/main.scss */
::-moz-selection {
  background: rgba(151, 0, 151, 0.5);
}

/* line 34, ../../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 38, ../../scss/main.scss */
a {
  -webkit-transition: color 150ms ease;
  -moz-transition: color 150ms ease;
  -o-transition: color 150ms ease;
  transition: color 150ms ease;
  text-decoration: none;
}

/* line 46, ../../scss/main.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 49, ../../scss/main.scss */
.base-input,
.base-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px;
  border: none;
  font-size: 16px;
}

/* line 57, ../../scss/main.scss */
.base-button {
  cursor: pointer;
  background: #511180;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
}

/* line 65, ../../scss/main.scss */
.row {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}

/* line 70, ../../scss/main.scss */
.purple-background {
  background: #7118b2;
  color: #fff;
}
/* line 74, ../../scss/main.scss */
.purple-background a {
  color: #fff;
}
/* line 75, ../../scss/main.scss */
.purple-background a:hover {
  color: #000;
}

/* line 78, ../../scss/main.scss */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* line 83, ../../scss/main.scss */
.logo {
  text-indent: -9999px;
  background-image: url("/img/wesual.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 128px;
  height: 28px;
}

/****************************************
* Index 
****************************************/
/* line 96, ../../scss/main.scss */
.menu-header {
  padding-top: 28px;
}

/* line 101, ../../scss/main.scss */
.menu li {
  display: inline-block;
  margin-left: 15px;
}

/* line 107, ../../scss/main.scss */
.hero {
  height: 800px;
  position: relative;
}
/* line 111, ../../scss/main.scss */
.hero .container {
  height: 100%;
}

/* line 114, ../../scss/main.scss */
.feature-list {
  text-align: center;
}

/* line 118, ../../scss/main.scss */
.feature {
  display: inline-block;
  text-align: center;
  width: 33%;
}

/* line 124, ../../scss/main.scss */
.feature-bubble {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

/****************************************
* Misc.
****************************************/
/* line 134, ../../scss/main.scss */
#mfPreviewBar, #mfPreviewBarShow {
  display: none !important;
}
