/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/****************************************
* Variables
****************************************/
/****************************************
* Util classes
****************************************/
/* line 18, ../../scss/main.scss */
.left {
  float: left;
}

/* line 20, ../../scss/main.scss */
.right {
  float: right;
}

/* line 22, ../../scss/main.scss */
.block {
  display: block;
}

/****************************************
* Typography
****************************************/
/* line 28, ../../scss/main.scss */
html, body, .base-input,
.base-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/* line 34, ../../scss/main.scss */
h1, h2, h3 {
  font-family: 'Grumpy Black 24', serif;
  line-height: 1.1;
  letter-spacing: -2px;
}

/* line 44, ../../scss/main.scss */
h2 {
  font-size: 92px;
}

/* line 46, ../../scss/main.scss */
strong {
  font-weight: 700;
}

/* line 48, ../../scss/main.scss */
p {
  line-height: 1.5;
}

/* line 50, ../../scss/main.scss */
a {
  -webkit-transition: color 150ms ease;
  -moz-transition: color 150ms ease;
  -o-transition: color 150ms ease;
  transition: color 150ms ease;
  text-decoration: none;
}

/****************************************
* Framework
****************************************/
/* line 58, ../../scss/main.scss */
::selection {
  background: rgba(151, 0, 151, 0.5);
}

/* line 59, ../../scss/main.scss */
::-moz-selection {
  background: rgba(151, 0, 151, 0.5);
}

/* line 61, ../../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 66, ../../scss/main.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 69, ../../scss/main.scss */
.base-input,
.base-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px;
  border: none;
  font-size: 16px;
}

/* line 77, ../../scss/main.scss */
.base-button {
  cursor: pointer;
  background: #511180;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
}

/* line 85, ../../scss/main.scss */
.row {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}

/* line 90, ../../scss/main.scss */
.purple {
  color: #7118b2;
}

/* line 92, ../../scss/main.scss */
.purple-background {
  background: #7118b2;
  color: #fff;
}
/* line 96, ../../scss/main.scss */
.purple-background a {
  color: #fff;
}
/* line 97, ../../scss/main.scss */
.purple-background a:hover {
  color: #000;
}

/* line 100, ../../scss/main.scss */
.container {
  max-width: 980px;
  margin: 0 auto;
}

<<<<<<< HEAD
/* line 83, ../../scss/main.scss */
.header-padding {
  padding: 28px;
}

/* line 87, ../../scss/main.scss */
=======
/* line 105, ../../scss/main.scss */
.base-section-padding {
  padding: 80px;
}

/* line 107, ../../scss/main.scss */
>>>>>>> 52a4b7cb375ab156c8c213801bb9fd0435d39164
.logo {
  text-indent: -9999px;
  background-image: url("/img/wesual.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 128px;
  height: 28px;
}

/****************************************
* Index 
****************************************/
<<<<<<< HEAD
/* line 101, ../../scss/main.scss */
=======
/* line 120, ../../scss/main.scss */
.menu-header {
  padding-top: 28px;
}

/* line 125, ../../scss/main.scss */
>>>>>>> 52a4b7cb375ab156c8c213801bb9fd0435d39164
.menu li {
  display: inline-block;
  margin-left: 15px;
}

<<<<<<< HEAD
/* line 107, ../../scss/main.scss */
.relative {
  position: relative;
}

/* line 111, ../../scss/main.scss */
.hero {
  height: 800px;
}
/* line 114, ../../scss/main.scss */
=======
/* line 131, ../../scss/main.scss */
.hero {
  height: 800px;
  position: relative;
}
/* line 135, ../../scss/main.scss */
>>>>>>> 52a4b7cb375ab156c8c213801bb9fd0435d39164
.hero .container {
  height: 100%;
}

<<<<<<< HEAD
/* line 117, ../../scss/main.scss */
.hero-container {
  width: 650px;
}

/* line 121, ../../scss/main.scss */
.hero-tv {
  position: absolute;
  left: 780px;
  top: 30px;
  width: 676px;
}

/* line 128, ../../scss/main.scss */
.feature-list {
=======
/* line 138, ../../scss/main.scss */
.features {
>>>>>>> 52a4b7cb375ab156c8c213801bb9fd0435d39164
  text-align: center;
}
/* line 141, ../../scss/main.scss */
.features h2 {
  margin: 0 auto 50px;
}

<<<<<<< HEAD
/* line 132, ../../scss/main.scss */
=======
/* line 144, ../../scss/main.scss */
>>>>>>> 52a4b7cb375ab156c8c213801bb9fd0435d39164
.feature {
  display: inline-block;
  text-align: center;
  width: 33%;
}
/* line 149, ../../scss/main.scss */
.feature strong {
  margin-bottom: 10px;
}

<<<<<<< HEAD
/* line 138, ../../scss/main.scss */
=======
/* line 152, ../../scss/main.scss */
>>>>>>> 52a4b7cb375ab156c8c213801bb9fd0435d39164
.feature-bubble {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto 30px;
}

/****************************************
* Misc.
****************************************/
<<<<<<< HEAD
/* line 148, ../../scss/main.scss */
=======
/* line 163, ../../scss/main.scss */
>>>>>>> 52a4b7cb375ab156c8c213801bb9fd0435d39164
#mfPreviewBar, #mfPreviewBarShow {
  display: none !important;
}
